.navbar { /* pamats navbar */
  border-bottom: solid 2px;
  font-size: 20px;
}
#logo {
  padding: 10px;
}
nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  position: relative;
}
.nav-item a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.nav-item a:hover, #logo:hover path {
  color: orange;
}

/* drowdown */
.dropdown-menu {
  border: solid 2px;
  border-radius: 5px;
  
  display: none;
  position: absolute;

  right: 0;
  min-width: 150px;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 5px 5px;
  display: block;
  border-radius: 5px;
}
.dropdown-box:hover .dropdown-menu {
  display: block;
}